*{box-sizing: border-box;}

.column {
    width: 100%;
}

.half-width {
    width: 40%;
}

.red {
    color: #FFFF;
    background-color: #BE0909;
    display:flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    border: 0;
    outline: none;
    height: 100vh;
    width: 100vw;
}

.yellow {
    background-color: #FFB039;
    height: 100%;
    width: 40%;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    padding: 80px;
    height: 100%;
    width: 80%;
    justify-content: space-between;

}

form input {
    background: none;
    border: none;
    border-bottom: 1px solid #9DBEBB;
    padding: 20px;
    color: #FFFF;
    font-size: 18px;

}

#button {
    border-radius: 999px;
    background-color: #468189;
    color: #FFFF;
    padding: 20px 40px;
    border: none;
    margin: 12px;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    
}

img {
    object-fit: contain;
    transform: translate(-40%, 10%) scale(1.2);
}